body{
    background-color: #f1f1f1;
}
*{
    font-size: 16px;
    border: none;
}

a{
    text-decoration: none;
}
/* Login Page */
.login-form-container{
    background-color: #ffffff;
    border: solid 1px #f1f1f1;
    border-radius: 3px;
    padding: 30px;
}
.login-form-container a{
    color: #303030;
}
.login-form-validation-container{
    margin-top: 50%;
    margin-bottom: 10px;
}

/* Header */
.profile-container{
    color: #ffffff;
}

.form-container{
    margin-top: 15px;
}
